#home-s {
    width: 100%;
    margin-top: 57.5px;
    background: url('../../assets/image/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home {
    background-color: rgb(0, 0, 0,.7);
    padding-top: 57.5px;

}

.titulo {
    font-weight: 600;
    color: #fff;
    font-size: 25px;
}

#text-side h5 {
    font-size: 20px;
}

#conteudo {
    padding: 10px;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 7px 5px black;
}

.input-field {
    border: none;
    outline: none;
    border-radius: 20px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    background: rgba(151, 148, 148, 0.5);
    text-indent: 20px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .5);
}

#carouselExampleDark {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .5);
}

.input-field:hover,
.input-field:focus {
    background: rgba(255, 255, 255, .35);
}

::-webkit-input-placeholder {
    color: #fff;
    /* text-align: center; */
}

#btn-send {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    margin: 10px;
    background: rgb(0, 176, 240);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .5);

}

#btn-send:hover{
    box-shadow: 0 0 5px 3px rgb(0,0,102);
    letter-spacing: 2px;
    padding: 5px 20px;
}
#image-side {
    margin: 10px 50px;
}

#text-side {
    margin: 50px;
    text-align: justify;
}

@media screen and (max-width:1200px) {
    #image-side {
        margin: 10px 40px;
    }

    .titulo {
        font-size: 20px;
    }

    #text-side h5 {
        font-size: 16px;
    }

    .input-field {
        text-indent: 10px;
        font-size: 13px;
    }

    #btn-send {
        font-size: 15px;
    }
}

@media screen and (max-width:992px) {
    #text-side {
        margin: 20px 50px;
    }

    .input-field {
        margin: 5px;
        height: 30px;
    }

    #btn-send {
        font-size: 15px;
    }

    #image-side {
        margin: 40px 20px;
    }

    #text-side {
        margin-bottom: 10px;
    }
}


@media screen and (max-width:768px) {

    #text-side {
        margin: 10px;
    }

    #conteudo {
        font-size: 14px;
        margin: 20px;
    }

    #text-side h5 {
        font-size: 16px;
    }

    .input-field {
        margin: 5px;
        height: 30px;
    }

    #btn-send {
        font-size: 15px;
    }
    #image-side {
        margin: 10px 50px;
    }
}

@media screen and (max-width:576px) {

    .titulo {
        font-size: 16px;
    }

    #conteudo {
        font-size: 14px;
        margin: 20px;
    }

    #text-side h5 {
        font-size: 12px;
    }
    #image-side {
        margin: 10px;
    }
}